.header{
    height: 35vw;
    margin-top: 10px;
    /* background: url('../../assets/Header.jpg'); */
    background-size: contain;
    position: relative;


}

.header-container{
    
    /* max-width: 50%; */
    bottom: 20%;
    left: 6vw;
    animation: fadeIn 3s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(max-width:600px){
    .header-text{
        display: none;
    }
}